
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Notre css

main{
  position:relative;
  overflow: hidden;
  display: block;
}

// Stripes
#stripes, #stripes span {
    position: absolute
}
#stripes {
    height:100%;
    width: 100%;
    overflow: hidden;
    transform: skewY(-9deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #7e0000 15%, #f15b0e 70%, #ffb776 94%)
}

#stripes span {
    height: 40px
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #880801
}
#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #f36b20
}
#stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #de4c0c
}

// Nav
#navHome{
  position : absolute;
  z-index: 500;
  left:0;
  right:0;
  height:50px;
  perspective: 2000px;
}

.navbar-brand{
  font-size: 1.5rem;
}

.nav-item{
  font-size: 1.1rem;
}

.navbar{
  padding-left : 0;
  padding-right : 0;
}

// Header
#stripes-header{
  position: relative;
}

#intro {
  height:576px;
  display:flex;
  align-items: center;
  position: relative;
}

.intro-container{
  margin-top: -14%;
}

// Boutonss
.btn-gamejam{
  cursor:pointer;
  border-radius: 0.25rem;
  height:2.5em;
  border:0;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  font-size: 16px;
  font-weight:700;
  font-variant: small-caps;
}

.btn-gamejam:hover{
  background: #cccccc;
}

.btn-vert{
  background: #343a40;
  font-family: "Nunito", sans-serif;
  color:white;
}

.btn-vert:hover{
  background: #22262a;
}


// Hall of Fame










// MEDIA

@media (min-width:670px) {
    #stripes span {
        height: 150px
    }
    #stripes :nth-child(1) {
        top: 0;
        background: #880801
    }
    #stripes :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #f36b20
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #de4c0c
    }

    #intro{
      height:576px;
    }
}
@media (min-width:880px) {
    #stripes span {
        height: 190px
    }
    #stripes :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #880801
    }
    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #a21d04
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #ba3007
    }
    #stripes :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #f36b20
    }
    #stripes :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #de4c0c
    }

    #intro{
      height:760px;
    }
}
