
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Transition
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

// Notre css
main{
  position:relative;
  overflow: hidden;
  display: block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #222222;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #121212;
}

#sidebar ul.components {
    border-bottom: 1px solid #222222;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #222222;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #222222;
    background: #ffffff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #121212;
}

#content {
  background: #ececec;
  width:100%
}

.bell-icon{
  font-size:1.2em;
}

.notification-box{
  position:absolute;
  top:3.2em;
  width:300px;
  padding:5px;
  font-size: 0.8em;
}

.notification-box > ul > li {
  padding:5px;
}

.notification-badge{
  position:absolute;
  left:0;
  font-size:0.5em;
}

.admin-box{
  background: white;
  border-top: 4px solid #ed1734;
}

.table thead th {
  border-top:0;
}

// Stripes
#stripes, #stripes span {
    position: absolute
}
#stripes {
    height:100%;
    width: 100%;
    overflow: hidden;
    transform: skewY(-9deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #7e0000 15%, #f15b0e 70%, #ffb776 94%)
}

#stripes span {
    height: 40px
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #880801
}
#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #f36b20
}
#stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #de4c0c
}

// Nav
#navHome{
  position : absolute;
  z-index: 500;
  left:0;
  right:0;
  perspective: 2000px;
  background:#222222;
}

.navbar-brand{
  font-size: 1.5rem;
}

.nav-item{
  font-size: 1.1rem;
}

.navbar{
  padding-left : 0;
  padding-right : 0;
}

// Header
#stripes-header{
  position: relative;
}

#intro {
  height:576px;
  display:flex;
  align-items: center;
  position: relative;
}

.intro-container{
  margin-top: -14%;
}

// Boutons
.btn-gamejam{
  cursor:pointer;
  border-radius: 0.25rem;
  height:3em;
  padding: 0 1em 0 1em;
  border:0;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  font-size: 16px;
  font-weight:700;
  font-variant: small-caps;
  transition: all 0.1s ease-out;
}

.btn-gamejam:hover{
  background: #cccccc;
}

.btn-up:hover{
  transform: translateY(-2px);
}

.btn-vert{
  background: #343a40;
  font-family: "Nunito", sans-serif;
  color:white;
}

.btn-vert:hover{
  background: #22262a;
}

// Jaquettes
.upload-zip{
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease-in-out;
  height:300px;
  width:300px;
  padding:auto;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  background:#686868;
  color:white;
  margin-bottom: 0.5rem;
}
.upload-zip:hover{
  transition: all 0.5s ease-in-out;
  background:#535353;
  color:white;
}
.game-jaquette{
  height:300px;
  width:300px;
  margin-bottom: 0.5rem;
}

// Alertes

.alert-gamejam{
  width:inherit;
  background-color: white;
  color:#343a40;
  padding:0.6em;
  border-top: 4px solid #ff4444;
  margin-bottom:10px;
}

// Hall of Fame






// MEDIA STRIPES
@media (min-width:670px) {
    #stripes span {
        height: 150px
    }
    #stripes :nth-child(1) {
        top: 0;
        background: #880801
    }
    #stripes :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #f36b20
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #de4c0c
    }

    #intro{
      height:576px;
    }
}
@media (min-width:880px) {
    #stripes span {
        height: 190px
    }
    #stripes :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #880801
    }
    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #a21d04
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #ba3007
    }
    #stripes :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #f36b20
    }
    #stripes :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #de4c0c
    }

    #intro{
      height:760px;
    }
}
@media (max-width: 991px){
  #navHome {
    position:relative;
  }
  #navbarNav > ul {
    background:#222222;
  }
  #navbarNav > ul > li > div {
    display:block !important;
    text-align: right;
  }
  #navbarNavL > ul {
    background:#F8FAFC;
    right:0;
    padding-right:1em;
  }
  #navbarNavL > ul > li > div {
    display:block !important;
    text-align: right;
  }
  .bell-icon{
    display:none;
  }
  .notification-box{
    display:none;
  }
  .notification-badge{
    display:none;
  }
}
